<app-menu></app-menu>
  <br/>
  <form autocomplete="off" [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="col-md-6 align-items-center" style="left: 25%">
      <h2 class="text-center">Cadastro de Pessoa</h2>
      <input formControlName="id" class="form-control" id="id" type="hidden">
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input placeholder="Nome" name="nome" formControlName="nome" class="form-control" id="nome">
          <app-form-validator [control]="form.controls.nome" ></app-form-validator>
        </div>

        <div class="form-group">
          <label for="cpf">CPF:</label>
          <input placeholder="000.000.000-00" type="text" mask="000.000.000-00" formControlName="cpf" class="form-control" name="cpf" id="cpf">
          <app-form-validator [control]="form.controls.cpf" ></app-form-validator>
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input placeholder="E-mail" type="email" name="E-mail" formControlName="email" class="form-control" id="email">
        </div>

        <div class="form-group">
          <label for="dataNascimento">Data Nascimento:</label>
          <input type="date" placeholder="age" formControlName="dataNascimento" name="dataNascimento" class="form-control" id="dataNascimento">
          <app-form-validator [control]="form.controls.dataNascimento" ></app-form-validator>
        </div>

        <div class="form-group">
          <label for="naturalidade">Nacionalidade:</label>
          <input type="text" placeholder="nacionalidade" formControlName="nacionalidade" name="nacionalidade" class="form-control" id="nacionalidade">
        </div>

      <div class="form-group">
        <label for="naturalidade">Naturalidade:</label>
        <input type="text" placeholder="naturalidade" formControlName="naturalidade" name="naturalidade" class="form-control" id="naturalidade">
      </div>

        <div class="form-group">
          <input type="radio" formControlName="sexo" id="masculino" name="sexo" value="MASCULINO">
          <label for="masculino"> Masculino</label><br>
          <input type="radio" id="female" formControlName="sexo" value="FEMININO">
          <label for="female"> Feminino</label><br>
        </div>
        <button class="btn btn-success">Salvar</button>
    </div>
  </form>
  <br/>

<br/>
<div class="col-md-6 align-items-center" style="left: 25%" >
<h2 class="text-center">Listagem Pessoa</h2>
<br/>
  <div class="pessoa-body">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Cpf</th>
        <th scope="col" style="text-align: center">Acao</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pessoa of pessoas">
        <td>{{pessoa.id}}</td>
        <td>{{pessoa.nome}}</td>
        <td>{{pessoa.cpf}}</td>
        <td>
          <div style="margin-left: 20%;">
            <button type="button" class="btn btn-success btn-sm ml-1" (click)="carregarPessoaAlteracao(pessoa)">Alterar</button>
            <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deletePessoa(pessoa)">Deletar</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
